@import url('https://fonts.googleapis.com/css2?family-Poppins:wght@200;300;400;500;600;700;800;900&display-swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #348dd6;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#f1f1f1;
    transition: 0.5s;
}

header{
    position: absolute;
    box-shadow: 0px 3px 10px #464646;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

header .logo{
    position: relative;
    max-width: 55px;
    transition: 0.3s;
}

header .logo:hover{
    transform: rotate(360deg);
}

header ul{
    max-width:800px;
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a{
    display: inline-block;
    color: #fff;
    font-size:medium;
    font-weight: 600;
    margin-left: 40px;
    text-decoration: none;
}

header ul li a:hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
    text-decoration-color: #348dd6;
    text-decoration-thickness: 3px;

}

header ul li:hover{
    transform: translateY(-10px);
    font-size: 150%;
    transition: 0.3s;
}


  /* .content{
    position: relative;
    width: 100%;
    display: flex;
    background: none;
    justify-content: space-between;
    align-items: center;
}
.content .textbox{
    position: relative;
    max-width: 700px;
    background: #fff;
    right: 10%;
    margin: 20%;
    margin-top: 1%;
}
.content .textbox h2{
    color:#000000;
    font-size: 2em;
    background: none;
    line-height: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}  */



/*.content .imgbox{
    width: 60px;
    display: flex;
    padding-right: 50px;
    margin-top: -40px;
    justify-content: flex-end;
}
.content .imgbox img{
    max-width: 600px;
    

}


.thumb {
  position: absolute;
  left: 35%;
  bottom: 20px;
  transform: translateX(-50px);
  display: flex;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;

}

.thumb li:hover {
    transform: translateY(-15px);
}

.thumb li img {
    max-width: 90px;
}   */


.card{
background-color: #ffffff;
width: 180px;
height: 260px;
margin-left: 10%;
border-radius: 12px;
box-shadow: 4px 4px 12px #464646;


}
.card div{
    display: flex;
    background: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 130%;
}

.card h1{
    font-size: 1.2rem;
    background: none;
    margin-top: 10px;
}

.card h2{
    font-size: .9rem;
    background: none;
    color: #aaaa;
}

.card span{
    background: none;
}

.card button {
    background-color: #4682B4;
    height: 36px;
    border: none;
    padding: 4px;
    width: 75%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 6%;
    cursor: pointer;
    margin-top: 10px;


}

.card2{
    background-color: #ffffff;
    width: 180px;
    height: 260px;
    max-height: 260px;
    margin-left: 240%;
    margin-top: -190%;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #464646;
    
    
    }

    .card2 div{
        display: flex;
        background: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        height: 130%;
    }
    
    .card2 h1{
        font-size: 1.2rem;
        background: none;
    }
    
    .card2 h2{
        font-size: .9rem;
        background: none;
        color: #aaaa;
    }
    
    .card2 span{
        background: none;
    }
    
    .card2 button {
        background-color: #4682B4;
        height: 36px;
        border: none;
        padding: 4px;
        width: 150%;
        color: #fff;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 6%;
        cursor: pointer;
    
    
    }

    .card3{
        background-color: #ffffff;
        width: 200px;
        max-height: 260px;
        margin-left: 500%;
        margin-top: -190%;
        border-radius: 12px;
        box-shadow: 4px 4px 12px #464646;
        
        
        }

        .card3 div{
            display: flex;
            background: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 4px;
            height: 130%;
            margin-top: -150%;
        }
        
        .card3 h1{
            font-size: 1.2rem;
            background: none;
            margin-top: 470%;
        }
        
        .card3 h2{
            font-size: .9rem;
            background: none;
            color: #aaaa;
        }
        
        .card3 span{
            background: none;
        }
        
        .card3 a {
            display: inline-block;
            background: #348dd6;
            height: 36px;
            width: 150%;
            padding: 4px;
            border:none;
            color: rgb(255, 255, 255);
            border-radius: 6px;
            font-weight: bold;
            font-size: 1rem;
            letter-spacing: 2px;
            text-decoration: none;
            text-transform: uppercase;  
            
        }
 
.card .imgbox{
    width: 60px;
    display: flex;
    padding-right: 50px;
    height: 10%;
    margin-left: -860%;
    margin-top: -10%;
    justify-content: flex-end;
    background: none;
}

.card .imgbox img{
    max-width: 200px;
    background: none;
    

}

.card .img2 img{
    max-width: 150px;
    margin-left: -600%;
    margin-top: 150px;
    background: none;
}

.card .img3 img{
    max-width: 170px;
    margin-left: 5%;
    margin-top: 80px;
    background: none;

}

.card  button:hover{
    background-color: rgb(56, 86, 253);
}

.mobile-menu-icon{
    display: none;
    margin-right: -50px;
}

.mobile-menu{
    display: none;
}




/*tablet*/
@media screen and (max-width:768px){
    section, header ul li a{
        text-align: center;
        position: relative;
        overflow: hidden;
    }
    
}
@media screen and (max-width:768px){
    header .logo{
       margin-left: -300%;
       height: 40px;
       margin-top: -10px;
       
    }
}

/*mobile*/

@media screen and (max-width:600px){
    header ul li a{
        margin-left: 15px;
        right: 50px;  
        display: none; 
    }

    .thumb, .thumb li img{
        left: 100px;
        padding: 0px;
        max-width: 60px;
    }
    
    /*customização do menu responsivo*/ 

    .mobile-menu-icon{
        position: fixed;
        display:block;
        right: 100px;
           
    }
     
    .mobile-menu-icon button{
        background-color: transparent;
        border:none;
        cursor: pointer;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction:column;
        text-align: center;
        padding-bottom: 1rem;

    }

    .mobile-menu ul li a {
        display: block;
        padding-top: 1.2rem;
    }

    .content .imgbox img{
        opacity: 0.3;

    }

    .content .textbox {
        left: 15px;
          
    }

    .content .imgbox img{
        max-width: 500px;
        margin-right: -50px;
    }

    .open{
        display: block;
    }

}


